Web/SiteBlue.Business/Service References/Enterprise.InvoiceGeneration/Invoice3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52445/Invoice.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SiteBlue.DocumentGeneration.Invoices" />
  <xs:import schemaLocation="http://localhost:52445/Invoice.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:52445/Invoice.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SiteBlue.DocumentGeneration" />
  <xs:element name="Render">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SiteBlue.DocumentGeneration.Invoices" minOccurs="0" name="invoice" nillable="true" type="q1:Invoice" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="docsToAppend" nillable="true" type="q2:ArrayOfbase64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SiteBlue.DocumentGeneration" minOccurs="0" name="RenderResult" nillable="true" type="q3:RenderResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenderHtml">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SiteBlue.DocumentGeneration.Invoices" minOccurs="0" name="invoice" nillable="true" type="q4:Invoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenderHtmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SiteBlue.DocumentGeneration" minOccurs="0" name="RenderHtmlResult" nillable="true" type="q5:RenderResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenderCustom">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SiteBlue.DocumentGeneration.Invoices" minOccurs="0" name="invoice" nillable="true" type="q6:Invoice" />
        <xs:element minOccurs="0" name="templatePath" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="docsToAppend" nillable="true" type="q7:ArrayOfbase64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenderCustomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SiteBlue.DocumentGeneration" minOccurs="0" name="RenderCustomResult" nillable="true" type="q8:RenderResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenderHtmlCustom">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SiteBlue.DocumentGeneration.Invoices" minOccurs="0" name="invoice" nillable="true" type="q9:Invoice" />
        <xs:element minOccurs="0" name="templatePath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenderHtmlCustomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SiteBlue.DocumentGeneration" minOccurs="0" name="RenderHtmlCustomResult" nillable="true" type="q10:RenderResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>