Web/SiteBlue.Core/Service References/Enterprise.DocumentGeneration/Render.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Render" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://www.1800plumber.com/DocumentGeneration/Render.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://www.1800plumber.com/DocumentGeneration/Render.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://www.1800plumber.com/DocumentGeneration/Render.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SiteBlue.DocumentGeneration" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRenderDocuments_PDFFromHtml_InputMessage">
    <wsdl:part name="parameters" element="tns:PDFFromHtml" />
  </wsdl:message>
  <wsdl:message name="IRenderDocuments_PDFFromHtml_OutputMessage">
    <wsdl:part name="parameters" element="tns:PDFFromHtmlResponse" />
  </wsdl:message>
  <wsdl:message name="IRenderDocuments_PDFFromUrl_InputMessage">
    <wsdl:part name="parameters" element="tns:PDFFromUrl" />
  </wsdl:message>
  <wsdl:message name="IRenderDocuments_PDFFromUrl_OutputMessage">
    <wsdl:part name="parameters" element="tns:PDFFromUrlResponse" />
  </wsdl:message>
  <wsdl:portType name="IRenderDocuments">
    <wsdl:operation name="PDFFromHtml">
      <wsdl:input wsaw:Action="http://tempuri.org/IRenderDocuments/PDFFromHtml" message="tns:IRenderDocuments_PDFFromHtml_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRenderDocuments/PDFFromHtmlResponse" message="tns:IRenderDocuments_PDFFromHtml_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PDFFromUrl">
      <wsdl:input wsaw:Action="http://tempuri.org/IRenderDocuments/PDFFromUrl" message="tns:IRenderDocuments_PDFFromUrl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRenderDocuments/PDFFromUrlResponse" message="tns:IRenderDocuments_PDFFromUrl_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRenderDocuments" type="tns:IRenderDocuments">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PDFFromHtml">
      <soap:operation soapAction="http://tempuri.org/IRenderDocuments/PDFFromHtml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PDFFromUrl">
      <soap:operation soapAction="http://tempuri.org/IRenderDocuments/PDFFromUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Render">
    <wsdl:port name="BasicHttpBinding_IRenderDocuments" binding="tns:BasicHttpBinding_IRenderDocuments">
      <soap:address location="http://www.1800plumber.com/DocumentGeneration/Render.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>