Web/SiteBlue.Business/Service References/Enterprise.TechnicianBioGeneration/TechBio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SiteBlue.DocumentGeneration.TechBios" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SiteBlue.DocumentGeneration.TechBios" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Bio">
    <xs:sequence>
      <xs:element minOccurs="0" name="BackgroundCheckCompleted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ClientId" type="xs:int" />
      <xs:element minOccurs="0" name="IsFranchise" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastDrugTest" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TechId" type="xs:int" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bio" nillable="true" type="tns:Bio" />
</xs:schema>