Web/SiteBlue.Business/Service References/Enterprise.TechnicianBioGeneration/TechBio3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SiteBlue.DocumentGeneration" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SiteBlue.DocumentGeneration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RenderResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ExceptionMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RenderResult" nillable="true" type="tns:RenderResult" />
</xs:schema>